*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $color-white;
    font-family: $main-font;
}

.container {
    background-color: white;
    margin: 60px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 4px 10px 4px $color-gray;
    .form_box {
        flex: 0 0 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .add_form {
            display: flex;
            width: 80%;
            flex-direction: column;
            margin: 40px 0;
            padding: 40px 60px;
            box-shadow: 4px 4px 10px 4px $color-gray;
            .form_input, select {
              margin: 20px 20px;
              border: 1px solid $color-gray;
              border-radius: 5px;
              padding: 10px;
              resize: none;
            }
            label {
                font-size: 16px;
                margin: 10px 20px;
            }
        }
        h1 {
            padding: 10px 20px;
        }
        button {
            border: none;
            border-radius: 5px;
            margin: 20px 0;
            padding: 20px 30px;
            background-color: gray;
            color: $color-white;
            font-size: 20px;
            cursor: pointer;
            width: 200px;
            align-self: center;
            &:hover {
                background-color: $color-gray;
            }
        }
    } 
    .table_box {
        flex: 0 0 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 60px 0;
        width: 100%;
        table {
            width: 80%;
            min-height: 500px;
            border-collapse: collapse;
            box-shadow: 4px 4px 10px 4px $color-gray;
            tr {
                border: 1px solid $color-gray;
            }
            th, td {
                border: 1px solid $color-gray;
                padding: 10px 20px;
                text-align: center;
            }
        }
    }
}


@include tablet {
    .container {
        margin: 30px 60px;
        .form_box {
            .add_form {
                width: 80%;
            }
        }
        .table_box {
            margin: 40px 60px;
        }
    } 
}

  
@include mobile {
    .container {
        margin: 30px 20px;
        .form_box {
            .add_form {
                width: 80%;
                padding: 40px 20px;
                .form_input, select {
                    margin: 10px;
                    padding: 10px;
                }
            }
        }
        .table_box {
            margin: 20px 30px;
            justify-content: flex-start;
            overflow-x: scroll;
            padding: 10px 30px;
        }
    }
}