/* Colors */
$color-black: #1a1a1a;
$color-white: #f2f2f2;
$color-orange: #EAB543;
$color-blue: #0097e6;
$color-green: #00e6cb;
$color-gray: #b3b3b3;
$color-gray-light: #e6e6e6;
$transition: 2s all;

/* Font sizes */
$font-size: 18px;
$title-size: 42px;

/* Fonts */
$main-font: 'Chivo', Sans-Serif;